@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 0.5;
  }
  20%,
  24%,
  55% {
    opacity: 0;
  }
  21%,
  23% {
    opacity: 0;
  }
  26%,
  52%,
  56% {
    opacity: 0;
  }
}

.login-container {
  background-color: black;
}

.login-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../public/bg.png");
  background-size: cover;
  background-position: center;
  opacity: 0;
  z-index: 1;
}

/* Use the same animation timing as the light effect */
.light-effect {
  animation: flicker 2s infinite;
}

/* Sync the background with the light effect */
@keyframes backgroundSync {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 0.3;
  }
  20%,
  21%,
  23%,
  24%,
  26%,
  52%,
  55%,
  56% {
    opacity: 0;
  }
}

.login-container::before {
  animation: backgroundSync 2s infinite;
}

